{% extends  'base_generic.html' %}
{% load static %}
{% block content %}
<center>
    <h1>
        {{product.name}}
    </h1>
    <h4>
        by {{product.brand.name}}
    </h4>
</center>
<img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'products/default.jpg' %} {% endif %}" height="100px" width="auto">
<ul>
    <li>Price: {{product.price}}</li>
    <li>Category: {{product.category.name}}</li>
</ul>
<p>
    {{product.description}}
</p>
{% if product.inventory > 0 %}
<form action="{% url 'buy-product' product.pk %}">
    <input type="submit" value="Purchase">
</form>
{% else %}
<p>
    <font color="red">
        Out of Stock. Try sometime later.
    </font>
</p>
{% endif %}
{% endblock %}